<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create</title>

    <th:block th:replace="/layout/head :: head" />
</head>
<body>
<div class="container">
    <header>
        <div class="row">
            <div class="col-sm-5">
                <h1>Create customer</h1>
            </div>
            <div class="col-sm-7">
                <a href="/citys" class="btn btn-outline-light">
                    <i class="fa fa-plus-square-o" aria-hidden="true"></i>
                    <span>List of Cities</span>
                </a>
            </div>
        </div>
    </header>

    <div class="content">
        <form id="frmUpdateCustomer" method="post" th:object="${city}">
            <fieldset class="row g-3">
                <div class="col-md-6">
                    <label class="form-label">Tên Thành Phố</label>
                    <input type="text" class="form-control" th:field="*{nameCity}">
                </div>
                <div class="col-md-6">
                    <label class="form-label">Quốc Gia</label>
                    <input type="text" class="form-control" th:field="*{nation}">
                </div>
                <div class="col-md-6">
                    <label class="form-label">Diện Tích</label>
                    <input type="number" class="form-control" th:field="*{area}">
                </div>
                <div class="col-md-6">
                    <label class="form-label">Dân Số</label>
                    <input type="number" class="form-control" th:field="*{population}">
                </div>
                <div class="col-md-6">
                    <label class="form-label">GDP</label>
                    <input type="number" class="form-control" th:field="*{GDP}">
                </div>
                <div class="col-md-6">
                    <label class="form-label">Giới Thiệu</label>
                    <input type="text-area" class="form-control" th:field="*{descrip}">
                </div>
                <div class="col-md-12">
                    <button type="submit" id="btnUpdateCustomer" class="btn btn-outline-primary">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        Update city
                    </button>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="footer">
        <th:block th:if="${success}">
            <div class="success">
                <div class="container">
                    <ul>
                        <li th:text="${success}"></li>
                    </ul>
                </div>
            </div>
        </th:block>

        <th:block th:if="${error}">
            <div class="error">
                <div class="container">
                    <ul>
                        <li th:text="${error}"></li>
                    </ul>
                </div>
            </div>
        </th:block>

        <th:block th:if="${errors}">
            <div class="error">
                <div class="container">
                    <ul>
                        <th:block th:each="e : ${errors}">
                            <li th:text="${e.defaultMessage}"></li>
                        </th:block>
                    </ul>
                </div>
            </div>
        </th:block>
    </div>

</body>
</html>